!!!
%html{:dir => "ltr", :lang => "en-US", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

  %body
    = render_with_contents :partial => '/layouts/header' do
      This is the block passed to header

  = yield

